#root {
    margin: 0;
    padding: 0;
}

.List {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UsersList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Card {
    width: 40%;
    background: linear-gradient(to left, #a6dd82, #b3d9ee);
    position: relative;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px gray;
    margin: 2rem;
    height: 135px;
}
.List input {
    color: black;
}

.Card:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 15px 10px 10px gray;
}

.Card img {
    margin-bottom: 0;
    border-radius: 10px 0px 0px 10px;
    height: 135px;
    width: 135px;
}

.CardInfo {
    display: flex;
    flex-direction: row;
    color: black;
}

.UserInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: black;
    border-radius: 0px 10px 0px 10px;
    color: white;
}

.SearchOutline {
    margin-top: 25px;
    background: linear-gradient(to left, #a6dd82, #b3d9ee);
    border-radius: 20px;
    padding: 15px;
}

.SearchInline {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.SearchInline select {
    padding: 0.75rem;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid gray !important;
    color: black;
    margin: 0px 10px;
}


@media screen and (max-width: 992px) {
    .List {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Card {
        width: 80%;
        background: linear-gradient(to left, #a6dd82, #b3d9ee);
        position: relative;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 10px 5px 5px gray;
        margin: 2rem;
        height: 135px;
    }

    .SearchInline {
        display: flex;
        flex-direction: column;
    }
  }

  @media screen and (max-width: 512px) {
    .Card {
        border-radius: 10px 10px 10px 10px;
        box-shadow: 10px 5px 5px gray;
        margin: 2rem;
        height: auto;
    }

    .CardInfo {
        display: flex;
        flex-direction: column;
        color: black;
    }

    .Card img {
        border-radius: 10px 0px 10px 0px;
    }
  }